*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@font-face {
  font-family: "Inter";
  src: url('../assets/fonts/Inter-VariableFont_slnt,wght.ttf') format('truetype');
  font-display: swap;
}

:root {
  --Soft-orange: hsl(35, 77%, 62%);
  --Soft-red: hsl(5, 85%, 63%);

  --Off-white: hsl(36, 100%, 99%);
  --Grayish-blue: hsl(233, 8%, 79%);
  --Dark-grayish-blue: hsl(236, 13%, 42%);
  --Very-dark-blue: #00001a;

  --inter: 'Inter', sans-serif;

  --text-description: 600 1.4rem/170% var(--inter);
  --text-sidebar-text: 700 1.8rem/100% var(--inter);
  --text-button: 600 1.8rem/100% var(--inter);
  --text-highlight-number: 800 3rem/140% var(--inter);
  --text-highlight-title: 800 1.6rem/120% var(--inter);
  --text-highlight-description: 500 1.5rem/170% var(--inter);
  --text-sidebar-title: 700 3rem/100% var(--inter);
  --text-title: 800 3.6rem/100% var(--inter);
}