body {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 375px;
  padding: 1.8rem;
  border: 1px solid red;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 25px;
  height: 20px;
}

.nav__list {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.nav__item {
  list-style: none;
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.hero__image {
  width: 100%;
}

.hero__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.hero__title {
  font: var(--text-title);
}

.hero__info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.hero__description,
.sidebar__text,
.highlight__text {
  margin-block: 1rem;
  font: var(--text-description);
}

.hero__button {
  width: 60%;
  padding: 1.5rem;
  font: var(--text-button);
  text-transform: uppercase;
  letter-spacing: 3px;
  background-color: var(--Soft-red);
  border: none;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem;
  margin-block: 3rem;
  background-color: var(--Very-dark-blue);
}

.sidebar__title {
  margin-bottom: 1rem;
  font: var(--text-sidebar-title);
  color: var(--Soft-orange);
}

.sidebar__headline {
  font: var(--text-sidebar-text);
  /* font: var(--text-highlight-title); */
  color: var(--Off-white);
  /* border: 1px solid green; */
}

.sidebar__text {
  color: var(--Dark-grayish-blue);
}

hr {
  margin-bottom: 1rem;
  border-color: var(--Dark-grayish-blue);
}

.highlights {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.highlight {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  /* border: 1px solid red; */
}

.highlight__image {
  height: 166px;
}

.highlight__content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: space-evenly;
  flex: 1;
  /* height: 100%; */
  height: 166px;
  border: 1px solid red;
}

.highlight__number {
  font: var(--text-highlight-number);
  color: var(--Soft-red);
}

.highlight__title {
  font: var(--text-highlight-title);
}

.highlight__text {
  color: var(--Dark-grayish-blue);
}